<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
       
    </head>
    <body>
       
        {{>header}}
        <div class="form-container">
            <form action="">
                <input type="text" placeholder="Address">
                <button>Search</button>
            </form>
        </div>
        <p id="msg-1"></p>
        <p id="msg-2"></p>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>